@charset "UTF-8";

@font-face {
    font-family: "et-book";
    src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot");
    src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"), 
         url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"), 
         url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"), 
         url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "et-book";
    src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
    src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), 
         url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff"), 
         url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf") format("truetype"), 
         url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf") format("svg");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "et-book";
    src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot");
    src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"), 
         url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff"), 
         url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf") format("truetype"), 
         url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html {
    font-size: 15px;
}

body {
    width: 60%;
    margin: 0 auto;
    font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    background-color: #fffff8;
    color: #111;
    max-width: 1000px;
    counter-reset: sidenote-counter;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #151515;
        color: #ddd;
    }
}

h1 {
    font-weight: 400;
    margin: 4rem 0 1.5rem;
    font-size: 3.2rem;
    line-height: 1;
}

h2 {
    font-style: italic;
    font-weight: 400;
    margin: 2.1rem 0 1.4rem;
    font-size: 2.2rem;
    line-height: 1;
}

h3 {
    font-style: italic;
    font-weight: 400;
    margin: 2rem 0 1.4rem;
    font-size: 1.7rem;
    line-height: 1;
}

hr {
    display: block;
    height: 1px;
    width: 55%;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
}

p.subtitle {
    font-style: italic;
    margin: 1rem 0;
    font-size: 1.8rem;
    line-height: 1;
}

.float-right {
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
}

p,
dl,
ol,
ul {
    font-size: 1.4rem;
    line-height: 2rem;
}

p {
    margin: 1.4rem 0;
    vertical-align: baseline;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

.button {
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    margin: 10px 2px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background: linear-gradient(90deg, #feb47b, #ff7e5f);
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.wrapper {
    text-align: center;
}

.fullwidth {
    width: 100%;
    font-size: 120%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
    border: solid;
    border-width: 1.5px 0;
    border-color: #EDEDED;
}